node_modules
.next
.vercel
npm-debug.log*
tsconfig.tsbuildinfo
.env
.env.local
.env.*.local
apps/*/.next
apps/*/.vercel
apps/*/.env
apps/*/.env.local
apps/*/.env.*.local
apps/*/start.out.log
apps/*/start.err.log
remember.md
